<div class="thumbnail">
	<a href=""><img src="{{ product.image }}" alt="{{ product.title }} image."></a>
	<div class="caption">
		<a href=""><h3>{{ product.title }}</h3></a>
		<p>{{ product.description }}</p>
	</div>
</div>